@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}